/* Common styles for all screen sizes */
.portfolio-part {
    margin-top: 9.5rem;
}

.portfolio-header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-header-text h2 {
    font-size: 40px;
    font-weight: 600;
    color: #28231d;
}

.portfolio-header-text span {
    color: #5a5959;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    grid-gap: 1rem;
}

.project-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
    color: #5a5959;
}

.project-image-div {
    width: 295px;
    overflow: hidden;
    border-radius: 1rem;
}

.project-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 1s ease;
}

.project-image-div:hover .project-image {
    transform: scale(1.1);
}

.project-title {
    font-size: 16px;
    color: #28231d;
}

.project-description {
    font-size: 15px;
    margin-top: 0.5rem;
}

.project-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 0.5rem;
   
}

.project-button-icon {
    transition: 0.4s;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

.project-button:hover .project-button-icon {
    transform: translateX(0.25rem);
}

/* Media queries for tablet devices (above 480px and up to 768px) */
@media (min-width: 600px) and (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, calc(50% - 1rem)); /* 50% width with a 1rem gap on both sides */
    }
}

/* Media queries for mobile devices (up to 480px) */
@media (max-width: 600px) {
    .project-container {
        grid-template-columns: repeat(1, calc(100% - 2rem)); /* 100% width with a 2rem gap on both sides */
        margin-top: 2rem;
        grid-gap: 1rem; /* Optional: Add some gap between grid items */
    }

    .project-card {
        padding: 1rem;
        
    }

    .project-image-div {
        width: 100%;
    }
}
